@model IEnumerable<InlandMarinaData.Lease>

@{
    ViewData["Title"] = "My Slips";
}

<h1>My Slips</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Slip #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slip.Dock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slip.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slip.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slip.Dock.WaterService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slip.Dock.ElectricalService)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SlipID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slip.Dock.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slip.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slip.Width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slip.Dock.WaterService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slip.Dock.ElectricalService)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
